[Desktop Entry]
Name=TriPeaks NEUE
Comment=A simple Tri Peaks game
Exec=tripeaks_neue
Icon=icon.svg
Terminal=false
Type=Application
Categories=Game;
Keywords=cards,card-game,casual,solitaire,patience;
StartupNotify=false
